{
    "plugins": [
        "react-require",
        "babel-plugin-transform-es2015-modules-commonjs",
        "@babel/plugin-transform-react-jsx"
    ],
    "env": {
        "production": {
            "presets": [
                "es2015",
                "react"
            ]
        }
    }
}
